.image-card {
	padding: 10px;
	margin: 50px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: white;
}

.image-card > a {
	display: flex;
	align-items: center;
	font-size: 1.3em;
	cursor: pointer;
	text-decoration: none;
}

.image-card > a:active {
	transform: scale(1);
}

.image-card > img {
	width: 100%;
}

.image-card > a > img {
	height: 50px;
	margin-right: 10px;
}