{% if current_user.feeds | length %}
	{% for image in current_user.feeds %}
		<div class="image-card">
			<a href="{{url_for('users.show', username=image.user.username)}}">
				<img src="{{image.user.image}}">
				{{image.user.username}}
			</a>
			<hr>
			<img src="{{image.url}}">
		</div>
	{% endfor %}
{% else %}
	{% if current_user.is_authenticated %}
		<div class="container">
			<p style="text-align: center;">No feeds yet</p>
		</div>
	{% endif %}
{% endif %}

<script type="text/javascript">
	const cards = document.getElementsByClassName("image-card")
	for (let i = 0; i < cards.length; i++) {
		const choice = ["#e3bbe3", "#bbdae3", "#c9e3bb", "#bfbbe3"][Math.floor(Math.random() * 4)]
		cards[i].style.borderColor = choice
	}
</script>